* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MiniLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 98;
    width: 100px;
}

.StartScreen, .Flashcards {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StartScreen {
    background-color: white;
    z-index: 99;
}

.StartScreen>img {
    width: 172px;
    height: 218px;
    margin-bottom: 20vh;
}


.Deck {
    width: 345px;
    height: 72px;
    padding: 24px 65px;
    border: 3px solid #FFEF61;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
}

.Deck>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 20px roboto;
}

.Deck>div img {
    width: 20px;
    aspect-ratio: 1;
}

.Deck>div img:first-of-type {
    margin-left: 6px;
}

.Flashcards {
    box-sizing: content-box;
    width: 292px;
    height: 475.75px;
    position: relative;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    word-break: break-word;
    padding: 50px 50px;
    position: relative;
    border-radius: 12px;
}

.Flashcards.neutral {
    border: 5px solid #000000;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
}

.Flashcards.incorrect {
    border: 5px solid #F64848;
    box-shadow: 0px 8px 24px rgba(246, 72, 72, 0.12);

}

.Flashcards.correct {
    border: 5px solid #62DB38;
    box-shadow: 0px 8px 24px rgba(98, 219, 56, 0.12);
}

.Flashcards.zap {
    border: 5px solid #FFEF61;
    box-shadow: 0px 8px 24px rgba(255, 239, 97, 0.12);
}

#counter {
    position: absolute;
    top: 12px;
    right: 12px;
    font: 400 18px roboto;
}

#question {
    font: 700 28px roboto;
}

#flashcardHeader {
    font: 700 12px roboto;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}


#answer {
    font: 400 16px roboto;
}

#button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
}

.FlashcardFooter {
    width: 100%;
    height: 102.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FlashcardFooter div {
    padding: 6px;
    font: 400 10px roboto;
    width: 65px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
}

.FlashcardFooter div:nth-child(1) {
    border: 3px solid black
}

.FlashcardFooter div:nth-child(2) {
    border: 3px solid #F74848
}

.FlashcardFooter div:nth-child(3) {
    border: 3px solid #62DB38
}

.FlashcardFooter div:nth-child(4) {
    border: 3px solid #FFEF61
}

.Success, .Failure {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Success .container, .Failure .container {
    text-align: center;
    width: 424px;
}

.container>div {
    margin-bottom: 16px;
}

.Success .container>div span {
    text-transform: uppercase;
}

.container>div span {
    font: 700 36px roboto;
}

.container>span {
    font: 400 22px roboto;
}